.renting_page {
    margin-top: 60px;

    display: flex;
    align-items: center;
    gap: 110px;
}

.renting_page_icon {
    font-size: 20px;
}

.wants {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 100px;
}

.wants__pay_for_rent, .wants__can_rent {
    color: #fff;
    
    background-color: var(--overused_blue);

    width: 100%;
    height: 66px;

    border-radius: 20px;

    font-size: 20px;
    font-weight: 700;
}

.wants__pay_for_rent:focus {
    border: 7px solid #034AFF;
}

.wants__can_rent:focus {
    border: 7px solid #034AFF;
}

.products {
    display: none;
}

.pay_rent {
    padding: 50px 7px;

    width: 329px;
    height: 1160px;

    background-color: #fff;

    border-radius: 30px;

    position: absolute;

    left: 50%;
    top: 156px;
    transform: translateX(-50%);

    display: none;/* Turn this to flex */
    flex-direction: column;
    align-items: center;
}

.pay_rent__user_info {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pay_rent__user_info_form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 16px;
    font-weight: 700;
    color: #878686;
}

.pay_rent__user_info_formText {
    margin-right: 10px;
}

.pay_rent__user_info_name, .pay_rent__user_info_phone, .pay_rent__user_info_city {
    border: 1px solid #D3D3D3;
    border-radius: 16px;

    height: 52px;

    padding: 0px 10px;
}

.pay_rent__scales {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 45px;
}

.pay_rent__scale_holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pay_rent__scale_text {
    font-size: 11px;
    color: #878686;
}

.pay_rent__scale_organizer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pay_rent__scale_ball {
    height: 24px;
    width: 27px;

    border: 1px solid var(--secondary_grey);
    border-radius: 100%;
}

.pay_rent__scale_line {
    width: 100%;

    border-top: 1px solid var(--secondary_grey);
}

.pay_rent__scale_squares {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.pay_rent__scale_square--blue {
    height: 21px;
    width: 36px;

    background-color: #E5F2FF;

    border-radius: 5px;
}

.pay_rent__people {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;

    margin-top: 30px;
}

.pay_rent__people__headline {
    font-size: 16px;
    font-weight: 700;
    color: #878686;
}

.pay_rent__people_number {
    display: flex;
    justify-content: space-between;

    color: var(--last_grey);
}

.pay_rent__people_number_more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    border: 1px solid var(--secondary_grey);
    border-radius: 16px;

    height: 57px;
    width: 78.54px;

    cursor: pointer;
}

.pay_rent__people_moreIcon_holder {
    border: 1px solid var(--last_grey);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 18px;
    width: 18px;

    position: relative;
}

.pay_rent__people_moreIcon {
    font-size: 10px;

    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pay_rent__people_number_box {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--secondary_grey);
    border-radius: 16px;

    font-size: 14px;
    font-weight: 600;

    height: 52px;
    width: 56.94px;

    cursor: pointer;
}

.pay_rent__button {
    box-shadow: 0px 4px 4px 0px #00000040;

    color: #fff;
    font-size: 18px;
    font-weight: 700;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 116px;
    height: 48px;

    background-color: var(--overused_blue);

    border-radius: 15px;

    margin-top: 60px;

    height: 48px;
    width: 116px;

    flex-shrink: 0;
}

.renting {
    padding: 50px 7px;

    width: 329px;
    height: 1034px;

    background-color: #fff;

    border-radius: 30px;

    position: absolute;

    left: 50%;
    top: 156px;
    transform: translateX(-50%);

    display: flex;/* Turn this to flex */
    flex-direction: column;
    align-items: center;
    
}

.renting__location {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;

    padding: 0px 20px;
}

.renting__location_headline {
    color: #22488A;
    font-size: 14px;
    font-weight: 700;
}

.renting__location_examples {
    display: flex;
    justify-content: center;
    gap: 7px;

    width: 100%;

    color: var(--last_grey);
    font-size: 14px;
    font-weight: 600;
}

.building_example {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 75px;

    border: 1px solid var(--secondary_grey);
    border-radius: 16px;
}

.renting__location_vila {
    width: 84px;
}

.renting__location_apartment {
    width: 83px;
}

.renting__location_buisness {
    width: 85px;
}

.renting__forms {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;

    margin-top: 40px;
}

.renting__form_holder {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.renting__form_headline {
    font-size: 14px;
    font-weight: 600;
    color: var(--last_grey);

    margin-right: 25px;
}

.renting__form {
    width: 100%;
    height: 52px;

    padding: 0px 10px;

    border: 1px solid #D3D3D3;
    border-radius: 16px;
}

.for_desktop {
    width: 100%;
}

.facilities__headline, .rooms__headline {
    font-size: 20px;
    color: var(--primary_blue);
}

.rooms {
    width: 100%;
}

.rooms__numbers {
    gap: 0px;

    justify-content: space-between;

    width: 100%;
}

.rooms__more {
    font-size: 14px;

    width: 75.61px;
}

.rooms__numbers_boxes {
    width: 54.82px;

    font-size: 14px;
}

.renting__button {
    box-shadow: 0px 4px 4px 0px #00000040;

    color: #fff;
    font-size: 18px;
    font-weight: 700;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 116px;
    height: 48px;

    background-color: var(--overused_blue);

    border-radius: 15px;

    margin-top: 60px;

    height: 48px;
    width: 116px;

    flex-shrink: 0;
}

.distance {
    width: 100%;
    height: 1300px;
}