@import url(reset.css);
@import url(font.css);
@import url(color.css);
@import url(utility.css);
@import url(responsive.css);

.header {
    width: 100%;
    height: 58.84px;

    background-color: var(--header_blue);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__right {
    position: relative;
}

#header__right_menuInput {
    position: absolute;

    height: 0;
    width: 0;

    opacity: 0;
}

.header__right_menuOpener {
    height: 24px;
}

.header__right_menu {
    display: none;
    position: absolute;
}

#header__right_menuInput:checked ~ .header__right_menu {
    display: flex;
    flex-direction: column;
}

.header__site_logo {
    font-size: 20px;
}

.header__logo_img {
    width: 15px;
}

.headlines {
    height: 426px;
    width: 100%;

    background-color: rgb(167,194,240);
    color: #fff;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.headlines__texts {
    font-size: 22px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.headlines__textI {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.headlines__search_bar {
    position: relative;
}

.headlines__search_barIcon {
    position: absolute;

    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    color: var(--icon_black);

}

.headlines__search_barline {
    position: absolute;

    right: 40px;
    top: 50%;
    transform: translateY(-50%);

    border-left: 1px solid var(--primary_grey);

    height: 80%;
}

.headlines__search_barInput {
    border: 1px solid #757575;
    border-radius: 30px;

    height: 39.51px;
    width: 252px;

    padding: 0px 45px 0px 10px;
}

.headlines__icons {
    display: flex;
    gap: 10px;
    
}

.headlines__icon {
    height: 41.59px;
    width: 40px;

    background-color: #fff;

    border-radius: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #000000;
}

.headlines__icon_text {
    font-size: 8px;
}

.zahedan {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.zahedan__headline {
    font-size: 24px;
    color: var(--primary_blue);
}

.zahedan__homes {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.zahedan__homes_boxes {
    display: flex;
    gap: 10px;

    width: 100%;
    overflow: auto;
}

.zahedan__home {
    height: 231px;
    width: 172px;

    padding: 0px 20px;

    background-color: var(--box_blue);

    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.zahedan__home_imgDiv {
    width: 100%;
}

.zahedan__home_img {
    width: 100%;
}

.zahedan__home_namePrice {
    font-size: 14px;
    color: #fff;

    display: flex;
    justify-content: space-between;

    width: 100%;

    position: relative;

    top: 2px;
}

.zahedan__home_price {
    position: relative;

    bottom: 2px;
}

.zahedan__home_rooms {
    display: flex;
    justify-content: space-between;

    width: 100%;

    font-size: 12px;
    color: #fff;

    position: relative;
    top: 3px;

}

.zahedan__home_rooms_right {
    display: flex;
    justify-content: space-between;

    width: 50%;
}

.zahedan__home_roomsIcons {
    color: #FE8A71;
}